<!DOCTYPE html>
<html>
<head>
    <title>Backbone Demo: Todos</title>
    <link href="css/todos.css" media="all" rel="stylesheet" type="text/css"/>

    <style type="text/css">
    #spec_link {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 22px;
        color: #333;
        text-decoration: none;
    }
    
    #spec_link:hover {
        color: #666;
        text-decoration: underline;
    }
    </style>
</head>
<body>
    <a id="spec_link" href="specrunner.html">To the Koans&nbsp;&#187;&nbsp;</a>

    <!-- Inline templates -->

    <script id="app-template" type="text/template">
        <div id="todoapp">
            <div class="title">
                <h1>Todos</h1>
            </div>

            <div class="content">
                <div id="create-todo">
                    <input id="new-todo" placeholder="What needs to be done?" type="text" />
                    <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
                </div>

                <div id="todos">
                    <ul id="todo-list"></ul>
                </div>

                <div id="todo-stats"></div>
            </div>
        </div>
    </script>

    <script id="item-template" type="text/template">
        <div class="todo <%= done ? 'done' : '' %>">
            <div class="display">
                <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
                <div class="todo-text"></div>
                <span class="todo-destroy"></span>
            </div>
            <div class="edit">
                <input class="todo-input" type="text" value="" />
            </div>
        </div>
    </script>

    <script id="stats-template" type="text/template">
        <% if (total) { %>
        <span class="todo-count">
            <span class="number"><%= remaining %></span>
            <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
        <% } %>
        <% if (done) { %>
        <span class="todo-clear">
            <a href="#">
                Clear <span class="number-done"><%= done %></span>
                completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
            </a>
        </span>
        <% } %>
    </script>

    <script type="text/javascript" src="js/ext/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="js/ext/underscore.js"></script>
    <script type="text/javascript" src="js/ext/template.js"></script>
    <script type="text/javascript" src="js/ext/backbone.js"></script>
    <script type="text/javascript" src="js/ext/backbone.localStorage.js"></script>
    <script type="text/javascript" src="js/todos.js"></script>

    <script type="text/javascript">
      $(document).ready(function(evt) {
          _.extend(TodoList.prototype, {
              localStorage: new Store('todos')
          });
          
          App = new TodoApp({ appendTo: $('body') });
      });
    </script>
</body>
</html>
