<!DOCTYPE html>
<html>
<head>
    <title>Backbone Koans</title>
    <link href="css/bootstrap.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/koansReporter.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
    <h1>Backbone Koans</h1>
    
    <h2>Instructions</h2>
    
    <ol>
        <li>Open new browser tabs for both <a href="http://documentcloud.github.com/backbone/">Backbone.js Docs</a>
            and <a href="js/todos.js">todos.js</a>. You'll need to refer to these while fixing the failing tests.
        <li>Get each failing test passing without modifying the expect() statements or todos.js</li>
        <li>Not familiar with <a href="http://pivotal.github.com/jasmine/">Jasmine</a>? 
            Take a moment to check out the <a href="https://github.com/pivotal/jasmine/wiki">documentation</a> first.</li>
        <li>If it you want to see how the Todo app works, you can <a href="index.html">go back</a> at any time.</li>
    </ol>
        
    <h2>Current Progress</h2>
    
    <ul id="summary" class="unstyled"></ul>
    <div id="progress"></div>

    <!-- Inline templates -->

    <script id="app-template" type="text/template">
        <div id="todoapp">
            <div class="title">
                <h1>Todos</h1>
            </div>

            <div class="content">
                <div id="create-todo">
                    <input id="new-todo" placeholder="What needs to be done?" type="text" />
                    <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
                </div>

                <div id="todos">
                    <ul id="todo-list"></ul>
                </div>

                <div id="todo-stats"></div>
            </div>
        </div>
    </script>

    <script id="item-template" type="text/template">
        <div class="todo <%= done ? 'done' : '' %>">
            <div class="display">
                <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
                <div class="todo-text"></div>
                <span class="todo-destroy"></span>
            </div>
            <div class="edit">
                <input class="todo-input" type="text" value="" />
            </div>
        </div>
    </script>

    <script id="stats-template" type="text/template">
        <% if (total) { %>
        <span class="todo-count">
            <span class="number"><%= remaining %></span>
            <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
        <% } %>
        <% if (done) { %>
        <span class="todo-clear">
            <a href="#">
                Clear <span class="number-done"><%= done %></span>
                completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
            </a>
        </span>
        <% } %>
    </script>

    <script type="text/javascript" src="js/ext/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="js/ext/underscore.js"></script>
    <script type="text/javascript" src="js/ext/backbone.js"></script>
    <script type="text/javascript" src="js/ext/backbone.localStorage.js"></script>
    <script type="text/javascript" src="js/todos.js"></script>
    
    <script type="text/javascript" src="js/ext/jasmine.js"></script>
    <script type="text/javascript" src="js/koansReporter.js"></script>

    <script type="text/javascript" src="js/koans/aboutModels.js"></script>
    <script type="text/javascript" src="js/koans/aboutCollections.js"></script>
    <script type="text/javascript" src="js/koans/aboutViews.js"></script>
    <script type="text/javascript" src="js/koans/aboutRouters.js"></script>
    <script type="text/javascript" src="js/koans/aboutEvents.js"></script>
    
    <script type="text/javascript">
    var reporter = new KoansReporter();
    
    $(document).ready(function(evt) {
        _.extend(TodoList.prototype, {
            localStorage: new Store('koans-todos')
        });
        
        jasmine.getEnv().addReporter(reporter);
        jasmine.getEnv().execute();
    });
    </script>
</body>
</html>
